.block-main
  .about
    .main-container
      .partner-container
        div(data-aos="fade-up").partner
          a(href="#").partner__logo
            img(src="img/great-stone.png", alt="")
          a(href="#").bookmark FAQ
        .benefits
          div(data-aos="fade-up" data-aos-delay="400").benefits__item
            <svg class="icon icon--lg benefits__icon"><use href="img/sprite.svg#station"></use></svg>
            .benefits__titel Одна станция — 
            p.benefits__text это система комплексного обслуживания ведения бизнеса в Китайско-Белорусском индустриальном парке «Великий камень».
          
          div(data-aos="fade-up" data-aos-delay="500").benefits__item
            <svg class="icon icon--lg benefits__icon"><use href="img/sprite.svg#clock"></use></svg>
            p.benefits__text Мы осуществляем административные и иные процедуры в максимально короткие сроки:
            ul.triangle
              li при личном обращении;
              li через электронную систему onestation.by.
  .request
    .main-container
      .request-step
        div(data-aos="fade-up").step
          .step__inner
            <svg class="icon icon--arrow-step"><use href="img/sprite.svg#arrow-step"></use></svg>
            .step__number 01
            h3.step__titel РЕГИСТРАЦИЯ
            ul.triangle
              li Введите все данные и подтвердите e-mail
              li После проверки на ваш e-mail придет письмо о том, что аккаунт активирован
        div(data-aos="fade-up" data-aos-delay="300").step
          .step__inner
            <svg class="icon icon--arrow-step"><use href="img/sprite.svg#arrow-step"></use></svg>
            .step__number 02
            h3.step__titel СОЗДАНИЕ ЗАЯВКИ
            ul.triangle
              li Выберите тип процедуры 
              li Если ни одна не подходит, выберите "Иная" и опишите свою проблему кратко в теме и развернуто в описании
        div(data-aos="fade-up" data-aos-delay="600").step
          .step__inner
            .step__number 03
            ul.triangle
              li Прикрепите сканы необходимых документов
              li Нажмите "Подать заявку"
              li Обновления статуса заявки можно проверить в личном кабинете; сообщения о смене статуса будут также приходить на e-mail
      .request__btn
          a(href="#" data-aos="zoom-in").btn.btn-primary.btn-sm Подать заявку
