.page-wrapper.page-wrapper-sm
    .main-container 
        br
        br
        br
        br
        br
        a(href="index.html")  index.html
        br
        br
        br
        a(href="contacts.html")  contacts.html
        br
        br
        br
        a(href="news-opened.html")  news-opened.html
        br
        br
        br
        a(href="news.html")  news.html
        br
        br
        br
        a(href="password-reset.html")  password-reset.html
        br
        br
        br
        a(href="registration.html")  registration.html (тут модалка логина)