.page-wrapper.page-gradient
    .main-container
        h1.page-title КОНТАКТЫ
    .wrapper-blue.contacts-main 
        .main-container
            a(href="tel:+375175172875").contacts-main__link 
                svg.icon.icon--phone-2 
                    use(href="img/sprite.svg#phone-2")
                |+375 (17) 517-28-75
            a(href="mailto:administration@greatstonepark.by").contacts-main__link
                svg.icon.icon--email 
                    use(href="img/sprite.svg#email")
                |administration@greatstonepark.by
            .contacts-main__address 
                svg.icon.icon--geo 
                    use(href="img/sprite.svg#geo")
                |222210, Республика Беларусь, Минская обл., Смолевичский район, Китайско-Белорусский индустриальный парк "Великий камень", Пекинский проспект, 18
    .main-container
        .bill-row
            .bill-row__item 
                .bill-title Юридический адрес
                p 222223, Минская область, Смолевичский район, Китайско-Белорусский индустриальный парк "Великий Камень"
                .bill-bottom 
                    b УНП 
                    |690832662
            .bill-row__item 
                .bill-title Расчетный счет
                p BY63AKBB36041649800156000000 в Минском областном управлении № 500 ОАО «АСБ Беларусбанк», код AKBBBY2Х, г. Минск, пр-т Дзержинского, 69-1
                .bill-bottom 
                    b ОКПО 
                    |301580366000
        .title-bookmark Телефоны сотрудников
        .contact
            .contact__col 
                .contact-item 
                    .contact-item__col 
                        svg.icon.icon--user 
                            use(href="img/sprite.svg#user")
                    .contact-item__col 
                        svg.icon.icon--phone-2
                            use(href="img/sprite.svg#phone-2")
                .contact-item 
                    .contact-item__col 
                        |Приемная (тел./факс)
                    .contact-item__col 
                        a(href="tel:+375175172875").contact-phone +375 (17) 517-28-75
                .contact-item 
                    .contact-item__col 
                        |Глава администрации
                    .contact-item__col 
                        a(href="tel:+375175172875").contact-phone +375 (17) 517-28-75
                .contact-item 
                    .contact-item__col 
                        |Заместитель главы администрации
                    .contact-item__col 
                        a(href="tel:+375175173802").contact-phone +375 (17) 517-38-02
                .contact-item 
                    .contact-item__col 
                        |Главный бухгалтер
                    .contact-item__col 
                        a(href="tel:+375175172870").contact-phone +375 (17) 517-28-70
                .contact-item 
                    .contact-item__col 
                        |Управление координации и контроля реализации инвестиционных проектов
                    .contact-item__col 
                        a(href="tel:+375175172885").contact-phone +375 (17) 517-28-85
                .contact-item 
                    .contact-item__col 
                        |Управление по привлечению инвестиций
                    .contact-item__col 
                        a(href="tel:+375175172883").contact-phone +375 (17) 517-28-83
            .contact__col 
                .contact-item 
                    .contact-item__col 
                        svg.icon.icon--user 
                            use(href="img/sprite.svg#user")
                    .contact-item__col 
                        svg.icon.icon--phone-2
                            use(href="img/sprite.svg#phone-2")
                .contact-item 
                    .contact-item__col 
                        |Управление архитектуры, строительства и землеустройства
                    .contact-item__col 
                        a(href="tel:+375175172871").contact-phone +375 (17) 517-28-71
                .contact-item 
                    .contact-item__col 
                        |Управление правовой, корпоративной и кадровой работы
                    .contact-item__col 
                        a(href="tel:+375175172874").contact-phone +375 (17) 517-28-74
                .contact-item 
                    .contact-item__col 
                        |Управление экономики, анализа и регулирования таможенных процедур
                    .contact-item__col 
                        a(href="tel:+375175172874").contact-phone +375 (17) 517-28-74
                .contact-item 
                    .contact-item__col 
                        |Центр комплексного обслуживания
                    .contact-item__col 
                        a(href="tel:+375175172890").contact-phone +375 (17) 517-28-90






