.page-wrapper.page-wrapper-sm.page-gradient
    .wrapper-blue.wrapper-blue--m-white.title-blue-white 
        .main-container
            h1.title-blue-white__text
                |FAQ
                span.title-blue-white__text-m-hide Гражданство и миграция
    .main-container
        .faq-filters 
            .faq-filters__item 
                a(href="#").faq-link.is-active Гражданство </br> и миграция
            .faq-filters__item 
                a(href="#").faq-link Таможенные </br> процедуры
            .faq-filters__item 
                a(href="#").faq-link Охрана </br> труда
            .faq-filters__item 
                a(href="#").faq-link Госорганы </br> в одной станции
            .faq-filters__item 
                a(href="#").faq-link Процедуры </br> и услуги
            .faq-filters__item 
                a(href="#").faq-link Организация работы </br> одной станции
            .faq-filters__item 
                a(href="#").faq-link Регистрация на сайте </br> onestation.by
            .faq-filters__item 
                a(href="#").faq-link Как создать </br> заявку?
            .faq-filters__item 
                a(href="#").faq-link Полезная </br> информация
    .wrapper-blue.faq-title-cont   
        .main-container
            h2.faq-title Гражданство и миграция
.main-container
    .accordeon 
        .accordeon__item 
            a(href="#").accordeon__link Как зарегистрировать иностранца по его приезду в РБ?
                svg.icon.icon--cross
                    use(href="img/sprite.svg#cross")
            .accordeon__dropdown 
                .accordeon__dropdown-inner
                    p Регистрация иностранного гражданина или лица без гражданства временно пребывающих в Республике Беларусь, в т.ч. в рамках безвизового режима сроком до 180 суток, может осуществляться в электронном формате на едином портале электронных услуг (portal.gov.by). Процедура бесплатная.
                    p Регистрация в электронном формате доступна иностранным гражданам или лицам без гражданства, которые въехали в Республику Беларусь через международные пункты пропуска.
                    p В рамках безвизового режима сроком до 180 суток зарегистрироваться в электронном формате можно один раз при первой регистрации в календарном году. После регистрации в электронном формате необходимо сделать распечатку данной информации для представления её в подразделение по гражданству и миграции органа внутренних дел по месту своего пребывания в Беларуси для продления срока регистрации (в случае выезда в рамках этого срока из Республики Беларусь и последующего въезда).
                    p Кроме того, сохраняется возможность личного обращения иностранцев в подразделения по гражданству и миграции органов внутренних дел для осуществления регистрации в ранее установленном порядке.
                    p Иностранцы, прибывшие в Республику Беларусь через Государственную границу с Российской Федерацией, для регистрации должны обращаться лично в подразделение по гражданству и миграции органа внутренних дел по месту своего пребывания в Беларуси.
                    p Для продления срока регистрации иностранец должен лично обратиться в подразделение по гражданству и миграции органа внутренних дел по месту своего пребывания в Беларуси.
                    p Если гражданин во время пребывания на территории Республики Беларусь остановится в гостинице, санатории, агроусадьбе, то регистрация осуществляется их сотрудниками.
                    p В электронной системе заявок «одна станция» (onestation.by) также создана процедура, которая будет переадресовывать на portal.gov.by. Сотрудники «одной станции» готовы оказать помощь в электронной регистрации.
        .accordeon__item 
            a(href="#").accordeon__link Необходимо ли иностранным гражданам иметь выездную визу для выезда из РБ?
                svg.icon.icon--cross
                    use(href="img/sprite.svg#cross")
            .accordeon__dropdown 
                .accordeon__dropdown-inner
                    p Регистрация иностранного гражданина или лица без гражданства временно пребывающих в Республике Беларусь, в т.ч. в рамках безвизового режима сроком до 180 суток, может осуществляться в электронном формате на едином портале электронных услуг (portal.gov.by). Процедура бесплатная.

        .accordeon__item 
            a(href="#").accordeon__link Что делать, если лицо, ранее включенное в список безвизового </br> въезда в РБ на 180 дней, утратило основания для нахождения в данном списке?
                svg.icon.icon--cross
                    use(href="img/sprite.svg#cross")
            .accordeon__dropdown 
                .accordeon__dropdown-inner
                    p Регистрация иностранного гражданина или лица без гражданства временно пребывающих в Республике Беларусь, в т.ч. в рамках безвизового режима сроком до 180 суток, может осуществляться в электронном формате на едином портале электронных услуг (portal.gov.by). Процедура бесплатная.

        .accordeon__item 
            a(href="#").accordeon__link Может ли гражданин, въехавший в РБ без визы на 30 дней </br>перейти в 180-дневный безвизовый режим? 
                svg.icon.icon--cross
                    use(href="img/sprite.svg#cross")
            .accordeon__dropdown 
                .accordeon__dropdown-inner
                    p Регистрация иностранного гражданина или лица без гражданства временно пребывающих в Республике Беларусь, в т.ч. в рамках безвизового режима сроком до 180 суток, может осуществляться в электронном формате на едином портале электронных услуг (portal.gov.by). Процедура бесплатная.
