footer.footer
  .main-container
    .footer__inner    
      .footer__left
        .footer__left-item
          a(href="#").footer__logo
            img(src="img/great-stone-svg.svg", alt="")
        .footer__left-item
          a(href="#").footer__logo
            img(src="img/by-svg.svg", alt="")
        .footer__left-item
          a(href="#").footer__logo
            img(src="img/eye-svg.svg", alt="")
        .footer__left-item
          a(href="#").footer__logo
            img(src="img/likeit-svg.svg", alt="")
      .footer__contact
        a(href="tel:+375175172882").footer__link +375 (17) 517-28-82
        a(href="mailto:one@greatstonepark.by").footer__link one@greatstonepark.by
        