footer.footer
  .main-container
    .footer__inner    
      .footer__left
        a(href="#").footer__logo
          img(src="img/logo-great.png", alt="")
        a(href="#").footer__logo
          img(src="img/logo-2.png", alt="")
      .footer__contact
        a(href="tel:+375175172882").footer__link +375 (17) 517-28-82
        a(href="mailto:one@greatstonepark.by").footer__link one@greatstonepark.by
        