.news.page-wrapper
  .main-container
    h1.page-title НОВОСТИ
    div(data-aos="fade-up" ).news-header
      .news-header__img 
        img(src="img/news.jpg", alt="")
      .news-header__inner
        p.news-header__text New
        h3.news-header__title О регистрации валютных договоров
        a(href="#").news-header__link Подробнее
    ul.news-list
      li(data-aos="fade-up" data-aos-delay="300").news-list__item
        .tile-news
          h4.tile-news__title График присутствия госорганов в центре комплексного обслуживания
          p.tile-news__text График постоянного присутствия работников государственных органов и иных организаций 
          a(href="#").tile-news__link Подробнее

      li(data-aos="fade-up" data-aos-delay="600").news-list__item
        .tile-news
          h4.tile-news__title Об обновлении расписания по маршруту №3410-ТК «Минск-Борисов»
          p.tile-news__text График постоянного присутствия работников государственных органов и иных организаций
          a(href="#").tile-news__link Подробнее 

      li(data-aos="fade-up" data-aos-delay="300").news-list__item
        .tile-news
          h4.tile-news__title О временной приостановке маршрута №2357ТК «Минск  — Великий камень»
          p.tile-news__text Администрация Китайско-Белорусского индустриального парка «Великий камень» сообщает ...
          a(href="#").tile-news__link Подробнее

      li(data-aos="fade-up" data-aos-delay="600").news-list__item
        .tile-news
          h4.tile-news__title О возобновлении маршрута № 2357ТК «ст.м. Уручье – Администр. центр»
          p.tile-news__text Администрация парка информирует о возобновлении с 5 апреля 2021 года пригородного маршрута ...
          a(href="#").tile-news__link Подробнее 
          
      li(data-aos="fade-up" data-aos-delay="300").news-list__item
        .tile-news
          h4.tile-news__title Об особенностях таможенного законодательства при работе ...
          p.tile-news__text Об особенностях таможенного законодательства при работе с предприятиями с наивысшим уровнем доверия КНР (УЭО) 
          a(href="#").tile-news__link Подробнее

      li(data-aos="fade-up" data-aos-delay="600").news-list__item
        .tile-news
          h4.tile-news__title О начислении амортизации в 2021 году
          p.tile-news__text Продление срока действия на 2021 год постановления Совета Министров Республики Беларусь от 15.04.2020 ...

    div(data-aos="fade-up" ).news-header
      .news-header__img 
        img(src="img/news-1.jpg", alt="")
      .news-header__inner
        p.news-header__text New
        h3.news-header__title.news-header__title-sm Разъяснение Министерства по налогам и сборам РБ по ставке подоходного налога
        a(href="#").news-header__link Подробнее
    ul.news-list
      li(data-aos="fade-up" data-aos-delay="300").news-list__item
        .tile-news
          h4.tile-news__title О продлении срока действия некоторых справок, документов и решений
          p.tile-news__text На основании Указа Президента Республики Беларусь от 25 ноября 2020г. «О продлении срока действия  ...
          a(href="#").tile-news__link Подробнее

      li(data-aos="fade-up" data-aos-delay="600").news-list__item
        .tile-news
          h4.tile-news__title Об изменении порядка и условий въезда на территорию РБ
          p.tile-news__text Администрация парка информирует о временном изменении порядка пересечения Государственной ...
          a(href="#").tile-news__link Подробнее 

      li(data-aos="fade-up" data-aos-delay="300").news-list__item
        .tile-news
          h4.tile-news__title О регистрации иностранных граждан и лиц без гражданства
          p.tile-news__text Регистрация иностранного гражданина или лица без гражданства временно пребывающих в Республике  ...
          a(href="#").tile-news__link Подробнее

      li(data-aos="fade-up" data-aos-delay="600").news-list__item
        .tile-news
          h4.tile-news__title Памятка работодателю по профилактике инфекции COVID-19
          p.tile-news__text На территории Республики Беларусь все лица, прибывшие из зарубежных стран, подлежат  ...
          a(href="#").tile-news__link Подробнее 

    a(href="#" data-aos="zoom-in").btn.btn-primary.btn-sm.news__btn Показать еще 