.news.page-wrapper
  .main-container
    h1.page-title НОВОСТИ
    div(data-aos="fade-up" ).news-header
      .news-header__img 
        img(src="img/news.jpg", alt="")
      .news-header__inner
        p.news-header__text New
        h3.news-header__title О регистрации валютных договоров
        a(href="#").news-header__link Подробнее
    ul.news-list
      li(data-aos="fade-up" data-aos-delay="300").news-list__item.news-list__full
        .tile-news  
          .news-text
            p При заключении валютных договоров с нерезидентами Республики Беларусь Национальный Банк Республики Беларусь просит резидентов "Великого камня" производить их регистрацию на веб-портале (Закон Республики Беларусь от 22 июля 2003 г. № 226-З ”О валютном регулировании и валютном контроле“, постановление Правления Национального банка Республики Беларусь от 12 февраля 2021 г.).
            p Это обусловлено формированием системы валютного мониторинга и позволит регулятору качественно оценивать реальную ситуацию, складывающуюся на внутреннем валютном рынке, своевременно выявлять возникающие дисбалансы, принимать адекватные меры по предупреждению негативных тенденций и, в конечном счете, обеспечивать стабильности национальной валюты – белорусского рубля.
    a(href="#" data-aos="zoom-in").btn.btn-primary.btn-sm.news__btn Назад