.news
  .main-container
    h2.main-title НОВОСТИ
    div(data-aos="fade-up" ).news-header
      .news-header__img 
        img(src="img/news.jpg", alt="")
      .news-header__inner
        p.news-header__text New
        h3.news-header__title О регистрации валютных договоров
        a(href="#").news-header__link Подробнее
    ul.news-list
      li(data-aos="fade-up" data-aos-delay="300").news-list__item
        .tile-news
          h4.tile-news__title График присутствия госорганов в центре комплексного обслуживания
          p.tile-news__text График постоянного присутствия работников государственных органов и иных организаций 
          a(href="#").tile-news__link Подробнее

      li(data-aos="fade-up" data-aos-delay="600").news-list__item
        .tile-news
          h4.tile-news__title Об обновлении расписания по маршруту №3410-ТК «Минск-Борисов»
          p.tile-news__text График постоянного присутствия работников государственных органов и иных организаций
          a(href="#").tile-news__link Подробнее 

    a(href="#" data-aos="zoom-in").btn.btn-primary.btn-sm.news__btn Показать еще 
