.page-wrapper.page-wrapper-sm
    .wrapper-blue.title-blue   
        .main-container
            h1.title-blue__text
                |Забыли пароль?
    .main-container 
        .form 
            .form-text 
                p Введите адрес электронной почты в форме внизу и нажмите кнопку “Отправить письмо”, чтобы ссылка для сброса пароля была отправлена на вашу почту.
            .form__group
                .form__row
                    .form__col
                        .form__label email *
                    .form__col
                        .form-control 
                            input(type="email" placeholder="domain@example.com").form-control__input
            .text-center
                a(href="#").btn-gradient Отправить письмо
            .text-center
                a(href="#").gray-link Отмена 