.welcome
  .welcome__img-w
    img.welcome__img(src="img/welcome.jpg", alt="")
  .welcome__cont
      div(data-aos="fade-down" data-aos-delay="400").welcome__sub-titel СИСТЕМА КОМПЛЕКСНОГО ОБСЛУЖИВАНИЯ
      h1(data-aos="fade-up").welcome__titel ОДНА СТАНЦИЯ
      ul.welcome-list
        li.welcome-list__item Безопасность
        li.welcome-list__item Скорость
        li.welcome-list__item Транспарентность
        li.welcome-list__item Локализация
      a(href="#" data-aos="fade-up" data-aos-delay="500").btn.btn-secondary.btn-lg Подать заявку