.wrapper-blue {
    background: linear-gradient(138.87deg, #3C64B1 -15.75%, #052555 105.43%);
}
.contacts-main {
    padding: 47px 0 35px 0;
    margin-bottom: 50px;

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__link {
        text-decoration: none;
        outline: 0;
        color: #fff;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        display: flex;
        align-items: center;
        transition: 0.3s all ease;

        .icon {
            color: #fff;
            margin-right: 19px;
            transition: 0.3s all ease;
        }

        &:hover {
            color: #22A5DD;

            .icon {
                color: #22A5DD;
            }
        }
    }

    &__address {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #fff;
        position: relative;
        padding-left: 43px;
        max-width: 620px;
        margin-top: 21px;

        .icon {
            vertical-align: middle;
            color: #fff;
            position: absolute;
            left: 0;
            top: 1px;
        }
    }
}
.bill-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 90px;

    &__item {
        margin-right: 30px;
        max-width: 353px;

        &:last-child {
            margin-right: 0;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.3px;
            color: #000000;
            margin-top: 0;
            margin-bottom: 20px;
        }
    }
}
.bill-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #000000;
}
.bill-bottom {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #000000;
}

.title-bookmark {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 140.62%;
    color: #FFFFFF;
    padding: 8px 21px;
    background: linear-gradient(269deg, #23a4dd -4.1%, #264598 95.9%); 
    clip-path: polygon(0% 0%, 96% 0, 100% 30%, 100% 100%, 80% 100%, 0 100%, 0% 80%, 0% 20%); 
    max-width: 382px;
    height: 48px;
    display: block;
    text-decoration: none;
    outline: 0;
    transition: 0.3s all ease;
    margin-bottom: 50px;
    
    &:after{
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 4%;
        height: 14px;
        background-color: #262262;
    }
}

.contact {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -27px;
    padding-bottom: 100px;

    &__col {
        flex: 0 0 50%;
        padding: 0 47px;
    }
}
.contact-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;  

    &__col {
        flex: 0 0 50%;
        padding-right: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #373B3D;
    }

    .icon {
        color: #22A5DD;
    }
}
.contact-phone {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.3px;
    color: #373B3D;
    text-decoration: none;
    outline: 0;

    &:hover {
        color: #22A5DD;
    }
}

@media (max-width: 1100px) {
    .contact {
        margin: 0 -15px;
    
        &__col {
            padding: 0 15px;
        }
    }
}

@media (max-width: 992px) {
    .contact {
        margin: 0;
    
        &__col {
            padding: 0;
            flex: 0 0 100%;

            &:last-child {
                .contact-item:first-child {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .contacts-main {
        padding: 30px 0;
        margin-bottom: 30px;
    
        &__link {
            font-size: 24px;
            line-height: 1.5;
        }
    }
    .bill-row {
        margin-bottom: 0px;
    
        &__item {
            flex: 0 0 100%;
            margin-bottom: 30px;
        }
    }

    .contact {
        padding-bottom: 50px;
    }

}

@media (max-width: 568px) {
    .contacts-main {
        padding: 30px 0;
    
        &__link {
            font-size: 16px;
            line-height: 22px;

            .icon {
                display: none;
            }
        }

        &__address {
            padding-left: 0;

            .icon {
                display: none;
            }
        }
    }

    .title-bookmark {
        background: linear-gradient(138.87deg, #3C64B1 -15.75%, #052555 105.43%);
        clip-path: none; 
        font-weight: 700;
        font-size: 22px;
        height: auto;
        padding: 12px 100px 12px 16px;
        max-width: calc(100% + 32px);
        width: calc(100% + 32px);
        margin: 0 -16px 0 -16px;
        margin-bottom: 30px;

        &:after {
            display: none;
        }
    }
    .contact-item { 
        &__col {
            flex: 0 0 100%;
            padding-right: 0;
        }
    }

    .contact {
    
        &__col {

            &:first-child {
                .contact-item:first-child {
                    display: none;
                }
            }
        }
    }

}
