.footer {
  background-color: #F2F2F2;
  &__inner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 21px 0;
  }

  &__logo {
    text-decoration: none;
    outline: 0;
    transition: 0.3s all ease;
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  &__left {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    justify-content: space-between;
  }

  &__left-item {
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 334px;
    
  }

  &__link {
    margin: 0 0 10px 0;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.3s all ease;
  }
  &__link:hover{
    color: black;
  }
}

@media (max-width: 992px) {
  .footer__left {
    flex: 0 0 100%;
    margin: 0;
    margin-bottom: 25px;
  }

  .footer__left-item {
    padding: 0;
  }
}

@media(max-width: 635px){
  .footer{
    &__inner{
      padding: 20px 0;
      justify-content: flex-start;
    }
    &__contact {
      margin-left: 0;
      flex: 0 1 360px;
    }
  }
}

@media (max-width: 568px) {
  .footer {
    &__left {
      margin: 0 0 25px;
      width: 100%;
    }
  
    &__left-item {
      padding: 0 0;
    }
  }
}

@media (max-width: 370px) {
  .footer {
    &__left {
      margin-bottom: 10px;
    }
    &__left-item {
      flex: 0 0 25%;
      justify-content: center;
      margin-bottom: 15px;

      &:nth-child(2) {
        padding: 0 20px;
      }

      &:nth-child(3) {
        padding: 0 17px;
      }

      &:nth-child(4) {
        padding: 0 5px;
      }
    }
  }

}
