.header {
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    min-width: 320px;
    background: #2019431a;

    &.header-white {
        background-color: transparent;

        .header-list__link {
            color: #373B3D;

            &:hover {
                color: #22A5DD;
            }
        }

        .btn-primary {
            &:hover {
                color: #3C64B1;
            }
        }

        .lang__link {
            color: #373B3D;

            &:hover {
                color: #22A5DD;
            }
        }
    }

    &__inner {
        z-index: 100;
        padding-top: 23px;
        padding-bottom: 23px;
        display: flex;
        align-items:center;
        
    }

    &__logo {

        margin-left: 20px;
        width: 105px;
        height: 35px;
    }
}

.side-bar {

    &__txte {
        z-index: 100;
        display: none;
        padding: 4px;
        white-space: nowrap;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 18px;
        letter-spacing: 0.3px;
        color: #FFFFFF;
        transform: rotate(-90deg);
    }
}
.btn-menu {
    position: relative;
    display: block;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;

    span{
        width: 30px;
        height: 3px;            
        display: block;
        position: relative;
        transition: 0.3s all ease;
        background: #fff;
        border-radius: 2px;          
        margin: 4px 0;
    }
    &--active{
        span:first-child {
            transform: rotate(45deg);
            top: 7px;}
        span:nth-child(2) {
            opacity: 0;
            transform: translateX(-100%);}
        span:nth-child(3){
            transform: rotate(-45deg);
            top: -7px;
        }
    }
}

.menu {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    background-color: #fff;
    width: calc(100% - 0px);
    height: 100vh;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.3s all ease;

    &--open{
        opacity: 1;
        visibility: visible;
        transform: translate(0,0);
    }

    &__logo{
        display: flex;
        justify-content: center;
        height: 96px;
        align-items: center;
        
    }
}
.account {
    display: none;
    

    &--active {
        display: block;
    }

    &__btn {
        position: relative;
        text-decoration: none;
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        padding-left: 16px;
        
        &--rotate::after{
            transform: rotate(180deg);
        }
    }
    &__btn::after{
        border-color: grey transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: "";
        display: block;
        height: 0;
        margin-top: -2px;
        position: absolute;
        right: 24px;
        top: 50%;
        width: 0;
        transition: 0.3s all ease;
    }
    
    &__icon{
        width: 10px;
        height: 5px;
        margin-left: auto;
        margin-right: 24px;
    }

    &__tytel {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.15px;
        color: #4F4F4F;
    }
}

.account-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    
    &--active{
        max-height: 125px;
    }

    &__item {
        margin-bottom: 8px;
        padding-left: 19px;
        padding-top: 11px;
    }

    &__item:last-child{ 
        margin-bottom: 13px;       
        border-top: solid 1px #BBBBBB;
    }

    &__link {
        margin-bottom: 11px;
        text-decoration: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1px;
        color: #4F4F4F;
        transition: 0.3s ease;
    }
    &__icon {
        width: 18px;
        height: 18px;
        margin-left: 12px;
        color: #828282;
        -webkit-transition: 0.3s all ease;
        transition: 0.3s all ease;
    }
    &__link:hover{
        color: #22A5DD;
        .account-list__icon{
            color: #22A5DD;

        }
    }
}

.side-list {
    border-top: solid 1px #BBBBBB;
    list-style: none;
    padding: 10px 0 0 8px;
    margin: 0;

    &__item{
        margin-bottom: 10px;
        padding: 10px 12px;
    }

    &__link {
        text-decoration: none;
        display: inline-block;
        align-items: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: 0.1px;
        color: #4F4F4F;
        transition: 0.3s ease;
    }
    &__icon{
        width: 24px;
        height: 24px;
        margin-right: 32px;
        color: #828282;
        transition: 0.3s all ease;
    }
    &__link:hover{
        color: #22A5DD;
        .side-list__icon{
            color: #22A5DD;
        }
    }
}

.btn-menu:hover{
    span{
        background: #828282;
    }
}

.logo {
    display: inline-block;
}

.header-list {
    width: calc(100% - 50px);
    max-width: 460px;
    min-width: 230px;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    &__item {
        display: flex;
        align-items: center;
    }
    &__link{
        margin-right: 51px;
        font-weight: 500;
    }
}

.lang {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 150px;

    &__item {
        padding-left: 12.6px;
    }

    &__link {
        text-decoration: none;
        font-family: Montserrat;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.3px;
        color: #FFFFFF;
        transition: 0.3s ease ;
    }
}
.lang__link:hover,.header-list__link:hover{
    color: #22A5DD;
}

@media(min-width: 1250px){
    .side-bar{
        position: fixed;
        left: 0;
        top: 0;
        width: 55px;
        height: 100vh;
        padding: 17px 11px 56px 11px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &__txte {
            display: block;
        }
    }
    .side-bar::before{
        z-index: -100;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #234475; 
    }
    .header__logo{
        margin-left: 0px;
    }
    .menu{
        left: 55px;
        width: calc(100vw - 55px);
        width: 256px;
        &__logo{
            justify-content:unset;
            margin-left: 17px;
        }
    }
}
@media (max-width: 1249px) {
    
    .header.header-white {
        .btn-menu span {
            background: #283C93;
        }
    }
}
@media(max-width: 1237px){
    .btn-menu--active span {
        background: #283C93;
    }
}

@media(max-width: 768px){
    .header__logo{
        display: none;
    }
    .header-list__link{
        display: none;
    }
    .header-list__item:first-child{
        order: 1;
    }
    .header-list__item:last-child{
        order: 0;
    }
    .lang{
        margin-right: auto;
        margin-left: auto;
    }
    .side-list__link{
        font-size: 16px;
    }
    .header.header-white {
        
        .lang__link {
            color: #283C93;
        }
    }
}

@media(max-height: 550px){
    .body-overflow{
        overflow: auto;
    }
    .menu{
        height: 600px;
    }
}

