.form {
    max-width: 647px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 115px;

    .btn-gradient {
        margin-bottom: 20px;
    }

    &__row {
        margin-bottom: 16px;
        display: flex;
        flex-wrap: wrap;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__col {
        flex: 0 0 calc(100% - 248px);

        &:first-child {
            flex: 0 0 248px;
            padding-right: 15px;
        }
    }

    &__group {
        margin-bottom: 65px;   

    }

    &__label {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
        color: rgba(0, 0, 0, 0.5);
        padding-top: 10px;
    }


    &__bottom {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        .btn-gradient, .btn-border {
            margin: 0 22px 15px;
        }
    }
}
.form-text {
    text-align: center;
    margin-bottom: 50px;

    p {
        margin-bottom: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.40;
        color: #373B3D;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
.form-control {
    position: relative;

    &__input {
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        box-sizing: border-box;
        border-radius: 5px;
        outline: 0;
        font-family: $fontFamili;
        font-weight: 400;
        font-size: 18px;
        line-height: 62px;
        color: rgba(0, 0, 0, 0.5);
        padding: 0 15px 0 27px;
        width: 100%;
        transition: 0.3s all ease;

        &:focus {
            border: 1px solid #22A5DD;
        }
        
        &.is-error {
            border-color: red;
        }
    }

    &__info {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        width: 100%;
    }

    &__textarea {
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        box-sizing: border-box;
        border-radius: 5px;
        outline: 0;
        font-family: $fontFamili;
        font-weight: 400;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.5);
        padding: 0 15px 0 27px;
        width: 100%;
        transition: 0.3s all ease;
        resize: vertical;
        height: 95px;
        padding-top: 15px;

        &:focus {
            border: 1px solid #22A5DD;
        }
        
        &.is-error {
            border-color: red;
        }

    }
}

.form-file {
    position: relative;
    overflow: hidden;

    &__input {
        font-size: 100px;
        line-height: 100px;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        opacity: 0;
    }

    &__label {
        background: #F2F2F2;
        border: 1px dashed #828282;
        border-radius: 5px;
        display: block;
        line-height: 62px;
        padding-left: 24px;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.3px;
        color: rgba(0, 0, 0, 0.5);

    }
}

.form-request {
    max-width: 876px;
}

.select-sm {
    margin: 0 7.5px;
    min-width: 95px;
    margin-bottom: 15px;

    &.ts-wrapper.single .ts-control:after {
        border-color: #3C64B1 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: " ";
        display: block;
        height: 0;
        margin-top: -2px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0;
    }

    &.ts-wrapper.single.dropdown-active .ts-control:after {
        border-color: transparent transparent #3C64B1;
        border-width: 0 5px 5px;
        margin-top: -4px;
    }

    .ts-control {
        border: 1px solid #3C64B1;
        border-radius: 0;
        background: transparent;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.3px;
        color: #3C64B1;
        padding: 0 18px;
        height: 48px;
        overflow: hidden;

        .item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 46px;
        }
    }

    .ts-control > input {
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.3px;
        color: #3C64B1;
        min-width: 1px!important;
        flex: 1 1 100%!important;
        margin: 0!important;
        cursor: pointer!important;

        &::placeholder {
            color: #3C64B1;

        }
    }
    .ts-control, &.ts-wrapper.single.input-active .ts-control {
        cursor: pointer;
        background: transparent;
    }

    &.input-active {

        .ts-control > input {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: #3C64B1;
            min-width: 1px!important;
            flex: 1 1 50px!important;
            margin: 0!important;
            cursor: pointer!important;
            width: 0px!important;
    
            &::placeholder {
                color: #3C64B1;
    
            }
        }
    }

    .ts-dropdown {
        width: auto;
        min-width: 100%;
        margin: 0;
        border-radius: 0px 0px 5px 5px;
    }

    .ts-dropdown .option {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.40;
        color: rgba(0, 0, 0, 0.5);
        padding: 19px 23px;
        border-bottom: 1px solid #BBBBBB;
    }
}
.procedure {
    width: 136px;

    .ts-dropdown {
        width: 500px;
    }
}

.type {
    width: 169px;
}

.status {
    width: 130px;
}
.datepicker-cont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 48px;
    margin: 0 7.5px;
    margin-bottom: 15px;

    &__label {
        font-weight: 700;
        font-size: 14px;
        line-height: 46px;
        letter-spacing: 0.3px;
        color: #3C64B1;
        border: 1px solid #3C64B1;
        width: 87px;
        text-align: center;
        margin-right: 15px;
    }
}
.datepicker-input__cont {
    margin-right: 15px;
    position: relative;

    &:after {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: " ";
        display: block;
        height: 0;
        margin-top: -2px;
        position: absolute;
        right: 10px;
        top: 50%;
        width: 0;
    }

    &:last-child {
        margin-right: 0;
    }

}
.datepicker-input {
    border: 0;
    background: #3C64B1;
    font-weight: 700;
    font-size: 14px;
    line-height: 46px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    width: 115px;
    padding-left: 18px;
    outline: 0;

    &::placeholder {
        color: #fff;
    }
}

.btn-submit {
    text-decoration: none;
    outline: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.3px;
    color: #fff;
    line-height: 46px;
    border: 1px solid #22A5DD;
    background: #22A5DD;
    margin-bottom: 15px;
    padding: 0 24px;
    transition: 0.3s all ease;

    &:hover {
        background: #fff;
        color: #22A5DD;
    }
}

#fc {
    .icon {
        color: #22A5DD;
    }
    .icon--angle-left {
        margin-left: 4px;
        margin-top: 4px;
    }
    .icon--angle-right {
        margin-right: 4px;
        margin-top: 4px;
    }
}

.select-lg {

    &.ts-wrapper.single .ts-control:after {
        border-color: #828282 transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: " ";
        display: block;
        height: 0;
        margin-top: -2px;
        position: absolute;
        right: 20px;
        top: 50%;
        width: 0;
    }

    &.ts-wrapper.single.dropdown-active .ts-control:after {
        border-color: transparent transparent #828282;
        border-width: 0 5px 5px;
        margin-top: -4px;
    }

    .ts-dropdown {
        margin: 0;
    }

    .ts-control {
        border: 1px solid #BBBBBB;
        border-radius: 5px;
        background: transparent;
        font-weight: 400;
        font-size: 16px;
        line-height: 62px;
        display: flex;
        align-items: center;
        letter-spacing: 0.3px;
        padding: 0 24px;

        color: rgba(0, 0, 0, 0.5);

        .item {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            line-height: 62px;
        }
    }

    .ts-control > input {
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.3px;
        color: rgba(0, 0, 0, 0.5);
        min-width: 1px!important;
        flex: 1 1 100%!important;
        margin: 0!important;
        cursor: pointer!important;

        &::placeholder {
            color: rgba(0, 0, 0, 0.5);

        }
    }
    .ts-control, &.ts-wrapper.single.input-active .ts-control {
        cursor: pointer;
        background: transparent;
    }

    &.input-active {

        .ts-control > input {
            font-weight: 400;
            font-size: 14px;
            letter-spacing: 0.3px;
            color: rgba(0, 0, 0, 0.5);
            min-width: 1px!important;
            flex: 1 1 50px!important;
            margin: 0!important;
            cursor: pointer!important;
            width: 0px!important;
    
            &::placeholder {
                color: rgba(0, 0, 0, 0.5);
    
            }
        }

    }

    .ts-dropdown {
        border-radius: 0px 0px 5px 5px;
        overflow: hidden;
        margin: -5px 0 0 0;
        border-top: 1px solid #BBBBBB;
    }

    .ts-dropdown .option {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.40;
        color: rgba(0, 0, 0, 0.5);
        padding: 19px 23px;
        border-bottom: 1px solid #BBBBBB;
    }
}

@media (max-width: 992px) {
    .select-sm .ts-dropdown .option {
        padding: 7px 15px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .form {
        &__label {
            font-size: 16px;
            padding-right: 10px;
        }
    }
    .form-control {
        position: relative;
    
        &__input {
            line-height: 48px;
        }
    }
    .form-text {
        margin-bottom: 30px;
    
        p {
            font-size: 16px;
        }
    }
    .select-lg .ts-control {
        line-height: 48px;
    }
    .form-file__label {
        line-height: 48px;
    }
    .select-lg .ts-dropdown .option {
        padding: 12px 23px;
    }
    .select-lg .ts-control .item {
        line-height: 48px;
    }
}

@media (max-width: 568px) {
    .form {
        margin-bottom: 60px;

        &__label {
            font-size: 14px;
            padding-right: 0;
        }

        &__group {
            margin-bottom: 40px;
        }
    
        &__col {
            flex: 0 0 calc(100% - 131px);
    
            &:first-child {
                flex: 0 0 131px;
                padding-right: 7px;
            }
        }
    }
    .form-control {
    
        &__input {
            line-height: 38px;
            font-size: 14px;
            padding-left: 15px;
            min-height: 40px;
        }

        &__textarea {
            font-size: 14px;
            padding-left: 15px;
        }
    }
    
    .form-text {
        margin-bottom: 30px;
        text-align: left;
    
        p {
            font-size: 12px;
        }
    }
    .select-lg .ts-control {
        line-height: 38px;
        padding-left: 15px;
        font-size: 14px;
    }
    .form-file__label {
        line-height: 38px;
        padding-left: 15px;
        font-size: 12px;
    }
    .select-lg .ts-dropdown .option {
        padding: 7px 15px;
        font-size: 14px;
    }
    .select-lg .ts-control .item {
        line-height: 38px;
    }
    .select-lg.ts-wrapper.single .ts-control:after {
        right: 8px;
    }
}

@media (max-width: 400px) {
    .form {

        &__group {
            margin-bottom: 25px;
        }
    
        &__col {
            flex: 0 0 100%;
    
            &:first-child {
                flex: 0 0 100%;
                padding-right: 7px;
                margin-bottom: 10px;
            }
        }
    }
}
