.page-title {
    background: linear-gradient(138.87deg, #3C64B1 -15.75%, #052555 105.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin-top: 0;
    margin-bottom: 55px;
}

.title-blue-white {
    color: #FFFFFF;
    padding: 65px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;

    &__text {
        font-weight: 400;
        font-size: 44px;
        line-height: 54px;
        margin: 0;
    }

    &__text-m-hide {
        margin-left: 34px;
    }
}

.title-blue {
    color: #FFFFFF;
    padding: 65px 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 60px;

    &__text {
        font-weight: 400;
        font-size: 44px;
        line-height: 54px;
        margin: 0;
    }
}

@media (max-width: 992px) {
    .title-blue-white {
        padding: 30px 0;
        margin-bottom: 37px;
    
        &__text {
            font-size: 36px;
            line-height: 1.5;
        }
    
        &__text-m-hide {
            margin-left: 25px;
        }
    }

    .title-blue {
        padding: 30px 0;
        margin-bottom: 37px;
    
        &__text {
            font-weight: 400;
            font-size: 36px;
            line-height: 1.5;
        }
    }
}

@media (max-width: 768px) {
    .page-title {
        margin-bottom: 30px;
    }

    .title-blue {
        padding: 40px 0;
        margin-bottom: 37px;
    
        &__text {
            font-weight: 400;
            font-size: 25px;
            line-height: 1.5;
        }
    }
}

@media (max-width: 568px) {
    .title-blue-white {
        padding: 0;
        margin-bottom: 28px;
        color: #283C93;

        &__text {
            font-weight: 600;
        }
    
        &__text-m-hide {
            display: none;
        }
    }

    .title-blue {
        padding-right: 100px;
    
        &__text {
            font-weight: 600;
            font-size: 22px;
            text-align: left;
        }
    }
}