doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title Title your site
			meta(content="width=device-width, initial-scale=1" name="viewport")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon") 
			link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
			link(rel="stylesheet" href="css/aos.css")
			link(rel="stylesheet" href="css/tom-select.css")
			link(rel="stylesheet" href="css/main.css")

			// for ie11
			link(rel="stylesheet" href="css/select2.min.css")
			link(rel="stylesheet" href="css/ie11.css")
	body
		#overlay
		main#main
			.content
				block content
			block footer

		//for all
		script(src='js/calendar.js')
		script(src='js/aos.js')
		
		//for other
		script(src='js/tom-select.complete.min.js')
		script(src='js/app.js')

		// for ie11
		script(src='js/svgxuse.min.js' defer)
		script(src='js/jquery-3.6.0.min.js')
		script(src='js/select2.min.js')
		script(src='js/app-ie11.js')
		
		block scripts