doctype html
html(lang="ru")
	block head
		head
			meta(charset="utf-8")
			title Title your site
			meta(content="width=device-width, initial-scale=1" name="viewport")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			link(rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon") 
			link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet")
			link(rel="stylesheet" href="css/aos.css")
			link(rel="stylesheet" href="css/main.css")
	body
		#overlay
		main#main
			block content
		script(src='js/aos.js')
		script(src='js/app.js')
		block scripts